@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --brightOrange: rgb(227, 136, 38);
    --darkCyan: rgb(0, 105, 112);
    --veryDarkCyan: rgb(0, 66, 65);
    --transWhite: rgba(255, 255, 255, 0.75);
    --lightGray: rgb(242, 242, 242);
    --lightCyan: rgb(0, 168, 166);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--lightGray);
    font-family: 'Lexend Deca', sans-serif;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

.preview-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    max-width: 970px;
    min-width: 340px;
    margin: 75px;
}

/* SECTIONS */
.component {
    display: flex;
    flex-direction: column;
    padding: 50px;
    flex: 1;
    justify-content: space-between;
    min-width: 320px;
}

.sedans {
    background-color: var(--brightOrange);
}

.suvs {
    background-color: var(--darkCyan);
}

.luxury {
    background-color: var(--veryDarkCyan);
}

/* CONTENT */
.component-icon {
    width: 64px;
    height: 40px;
}

.component-header {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--lightGray);
    margin: 40px 0 25px 0;
}

.component-text {
    font-size: 15px;
    color: var(--transWhite);
    line-height: 1.8;
    margin-bottom: clamp(25px, 5vw, 70px);
    width: 94%;
}

/* BUTTON */
.component-button {
    align-self: flex-start;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--lightGray);
    border: 2px solid var(--lightGray);
    font-size: 15px;
    border-radius: 50px;
    padding: 14px 32px;
    margin-top: 15px;
    transition: background-color 350ms ease;
    cursor: pointer;
}

.component-button:hover {
    background-color: transparent;
    color: var(--lightGray);
}

.sedans-b {
    color: var(--brightOrange);
}

.suvs-b {
    color: var(--darkCyan);
}

.luxury-b {
    color: var(--veryDarkCyan);
}

/* FOOTER */
.attribution {
    position: fixed;
    bottom: 10px;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    color: var(--darkCyan);
}

.attribution a {
    text-decoration: none;
    color: var(--brightOrange);
    transition: color 250ms ease-in;
}

.attribution a:hover {
    color: var(--lightCyan);
}